$font_dir: '../../static/fonts/';


@mixin fontface( $family, $file, $dir: $font_dir ){
    font-family: $family;
    src: url( #{ $font_dir + $file });
    src: url( #{ $font_dir + $file }) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    @include fontface( 'regular', 'CircularStd-Book.ttf' )
}

@font-face {
    @include fontface( 'bold', 'CircularStd-Bold.ttf' )
}

@font-face {
    @include fontface( 'medium', 'CircularStd-Medium.ttf' )
}