// Project Colors
$brand-green: #388e3c;
$brand-orange: #fb693f;
$brand-yellow: #faca3b;
$brand-white: #ffffff;
$brand-red: #d40e0e;

// Socials colors
$twgblue: #38aae9;
$blue: #fb693f;
$fbblue: #1b66be;
$instared: #e23c39;

// Gray Scale
$gray-light: #dadada;
$gray: #969696;
$gray-darken: #4c4c4c;
